###Q1. What are the characteristics of the tuples? Is tuple immutable?
###Ans: characteristics:

####1) It is ordered
####2) Web cannot change the value 
####3) It allows duplicate value hence in set it does not allow duplicate value

#Is tuple immutable?

#Yes. Tuple is Immutable

####Q.2 What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.
#Ans: 
##What are the two tuple methods in python?
###1)	count() : It Returns the number of times a specified value occurs in a tuple
###2)	index () : Searches the tuple for a specified value and returns the position of where it was found

###Give a reason why tuples have only two in-built methods as compared to Lists.

#####Tuple is immutable means we cannot change or modify it once it declared.So for that reason there are only two methods in tuple as there are many methods in list because we can modify the list .It is mutable hence we can use pop , append , reverse and many methods in list.

In [28]:
##count
t1 = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = t1.count(5)

print(x)

2

In [29]:
#index
t2 = (1, 3, 7, 8, "Rushi",9)
t2.index("Rushi")

4

##Q3. Which collection datatypes in python do not allow duplicate items? 
##Ans:
##set are the collection datatype in python which do not allow duplicate items.


#Write a code using a set to remove duplicates from the given list.

In [30]:
##Write a code using a set to remove duplicates from the given list.

list1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
print ("The original list is : "	+ str(list1))

remduplicate = list(set(list1))

print ("The list after removing duplicates : "	+ str(remduplicate))

The original list is : [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
The list after removing duplicates : [1, 2, 3, 4]

###Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.
###The union() method returns a new set, while the update() method modifies the original set in place. 
###Both union() and update() methods are used to combine two or more sets. However, there is a subtle difference between the two methods.

#1)	Union()
###The union() method returns a new set that contains all the unique elements from all the sets that were used to call the method. The original sets remain unchanged. Here's an example:

In [31]:
##union
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set3 = set1.union(set2)

print(set1)  
print(set2)  
print(set3)  

##In this example, set3 contains all the unique elements from set1 and set2, but neither of the original sets are changed.

{1, 2, 3}
{3, 4, 5}
{1, 2, 3, 4, 5}

#2)	Update()
####On the other hand, the update() method modifies the set that it is called on by adding all the unique elements from the other sets. Here's an example:

In [32]:
##update
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1.update(set2)

print(set1)  
print(set2)  

# In this example, set1 is modified to include all the unique elements from set2, so the output shows that set1 now contains {1, 2, 3, 4, 5}, and set2 remains unchanged.

{1, 2, 3, 4, 5}
{3, 4, 5}

#Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.
##Ans: 
###The dictionary is an unordered collection that contains key:value pairs separated by commas inside curly brackets


#dictionary is unordered.

In [33]:
#  Dictionary

d1 = { "name":"rushi",  "YouTube_Channel_Name":"Rushikesh Suryawanshi", "Year":2023}

In [34]:
d1

{'name': 'rushi',
 'YouTube_Channel_Name': 'Rushikesh Suryawanshi',
 'Year': 2023}

##Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.
##Ans: 
###Yes, we can create nested dictionary.
:

In [35]:
# nested Dictionary

Dict = {'D1': {'name': 'Rushikesh', 'age': 20}, 'D2': {'name': 'Mike Tyson', 'age': 36} ,'D3': {'Game': 'BGMI','size': '10 gb'} }
print(Dict)

{'D1': {'name': 'Rushikesh', 'age': 20}, 'D2': {'name': 'Mike Tyson', 'age': 36}, 'D3': {'Game': 'BGMI', 'size': '10 gb'}}

###Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learning’, 'Deep Learning']
##dict1 = {'language’: 'Python', 'course': 'Data Science Masters'}

In [36]:
#setdefault method and add value of the key as list

dt1 = {'language' : 'Python', 'course': 'Data Science Masters'}
  
addandset = dt1.setdefault('topics', ['Python', 'Machine Learning', 'Deep Learning'] )
print(dt1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

In [37]:
dt1['topics']

['Python', 'Machine Learning', 'Deep Learning']

In [38]:
dt1['topics'][1]

'Machine Learning'

###Q.8 What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

###Ans : The main view objects of dictionary in python are keys, values and items.
1)	Keys()    
2)	Values()   
 3)	Items()

In [39]:
d1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [40]:
d1.keys()

dict_keys(['Sport', 'Teams'])

In [41]:
d1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [42]:
d1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])